<ion-header [translucent]="true">
  <ion-toolbar color="customjp">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <strong class="capitalize">Bienvenido </strong><br>
      <strong class="capitalize">{{ folder }}</strong>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <p style="color: black ;">¡Somos una empres dedicada a la venta de accesorios y videojuegos!.</p>
    <ion-img src="/assets/files/jotapegames.png" style="width: 100px;"></ion-img>
    <ion-card>
      <h5>Ingrese a su Cuenta</h5>
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input placeholder="" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input placeholder="" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" [routerLink]="['/folder/Patricio']">Ingresar</ion-button>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-text color="primary">
      <b>JOTAPE GAMES Ⓒ </b>
      <p>Desarrollado por Gamers para Gamers</p>
      <p>Calle Siempre Viva 123, Springfield</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>