<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngFor="let Juegos of listarJuegos ">
    <ion-card (click)="verJuegos(Juegos.nombreJ, Juegos.precioJ, Juegos.imagenJ, Juegos.descripcionJ)">
      <ion-card-content><br>
        <h1><strong>{{Juegos.nombreJ}}</strong></h1>
        <img src="assets/files/{{Juegos.imagenJ}}" alt="">
        <h2>Precio</h2>
        <h2>
          <p>${{Juegos.precioJ}}</p>
        </h2>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-button expand="block" (click)="goToHome()">Ir a Inicio</ion-button>
  <ion-footer>
    <ion-toolbar>
      <ion-text color="primary">
        <b>JOTAPE GAMES Ⓒ </b>
        <p>Desarrollado por Gamers para Gamers</p>
        <p>Calle Siempre Viva 123, Springfield</p>
      </ion-text>
    </ion-toolbar>
  </ion-footer>
</ion-content>