<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accesorios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngFor="let Accesorios of listarAccesorios ">
    <ion-card (click)="verAccesorios(Accesorios.nombreA, Accesorios.precioA, Accesorios.imagenA, Accesorios.descripcionA)">
      <ion-card-content><br>
        <h1><strong>{{Accesorios.nombreA}}</strong></h1>
        <img src="assets/files/{{Accesorios.imagenA}}" alt="">
        <h2>Precio</h2>
        <h2>
          <p>${{Accesorios.precioA}}</p>
        </h2>
      </ion-card-content>
    </ion-card>

  </div>

  <tr>
    <th>
      <ion-button (click)="goToHome()">Ir a Inicio</ion-button>
    </th>
    <th>
      <!-- <ion-button [routerLink]="['/producto']">Ir a Productos</ion-button> -->
    </th>
  </tr>


</ion-content>